@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  /* border: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  color: var(--white);
}

:root {
  --black: #131415;
  --purple: #360033;
  --yelow: #ffc200;
  --white: #fff;
  --gray: #2d3640;
  --bold: 900;
  --medium: 700;
  --regular: 400;
  --thin: 300;
}

.upper {
  text-transform: uppercase;
}
